<p id="notice"><%= notice %></p>

<h1>Site Modules</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_modules.each do |site_module| %>
      <tr>
        <td><%= site_module.name %></td>
        <td><%= link_to 'Show', site_module %></td>
        <td><%= link_to 'Edit', edit_site_module_path(site_module) %></td>
        <td><%= link_to 'Destroy', site_module, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site Module', new_site_module_path %>
